body {
  margin: 15rem;
  padding-top: 5rem;
  border-top: 25px solid #58ba86;
}

.contact-div h1.name {
  font-size: 10rem;
  padding-bottom: 0;
}

.skills-div, .experience-div, .education-div {
  padding-top: 5rem;
}

.skills, .experience, .education {
  color: #58ba86;
  font-weight: bold;
  font-size: 5rem;
}

.work-title-span, .education-span {
  font-weight: bold;
}

.italic-work-title-span, .italic-education-span {
  font-style: italic;
  color: #777777;
}

.dates-worked {
  color: #777777;
}
